{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block footer %}
    <div class="row-fluid">
        <div class="span2 offset10 pull-right">
            
        </div>
    </div>
{% endblock %}
