<a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-small" title="{% trans from 'SonataAdminBundle' %}TEST{% endtrans %}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/delete.png') }}" alt="{% trans from 'SonataAdminBundle' %}TEST{% endtrans %}" /> TEST
</a>
