
<a href="{{ admin.generateObjectUrl('crearEntradaMercanciasDesdePedido', object) }}" class="btn btn-sm btn-default view_link" title="Seleccionar">
    <i class="glyphicon glyphicon-import"></i>
    Seleccionar
</a>
