<td>
{% block field %}   
    <table class="table table-bordered">
        <thead>
            <th>Clasificador</th>
            <th>Item Documento</th>
            <th>Importe</th>  
        </thead>
        <tbody>
            {% for item in value %}
                
            <tr>
                <td>{{ item.clasificador }}</td>
                <td>{{ item.imputacion }}</td>
                <td>{{ item.importe }}</td>                
            </tr>
            {% endfor %}   
            
        </tbody>
    </table>
{% endblock %}
</td>
