{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if( object.importe > 0 ) %}
            {{ object.importe }}
        {% endif %}
    </div>
{% endblock %}