<a href="{{ admin.generateObjectUrl('crearOrdenProduccionDesdeVersionFabricacion', object) }}" class="btn btn-sm btn-default view_link" title="Crear Orden de Producción">
    <i class="fa fa-rocket"></i>
    Crear Orden de Producción
</a>